
#assignment {
    width: 50%;
    margin: auto;
    padding: 50px 100px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-flow: column wrap;
}

.header {
    font-size: 11px;
    color: #066756;
}
.title {
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
}

.description {
    margin-bottom: 50px;
}

custom-select {
    display: flex;
    flex-flow: row wrap;
}
custom-select custom-select-input {
    border: 1px solid silver;
    width: 25em;
    border-radius: 3px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-width: 1px;
    text-indent: 0.5em;
}

select-options {
    position: absolute;
    margin-top: 45px;
    opacity: 0;
    display: flex;
    flex-flow: column wrap;
    background-color: #fff;
    border: 1px solid silver;
    width: 25em;
    border-radius: 3px;
}

select-options.open {
    opacity: 1;
}

select-options button,
select-options button:focus,
select-options button:active {
    border: none;
    background: none;
    outline: none;
    text-align: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-indent: 0.5em;
}

select-options button:hover{
    background-color: lightgray;
}

input:invalid {
    border-color: red;
}

button {
    background: none;
    border: none;
}

#addButton {
    color: blue; 
    font-size: small; 
    margin-top: 10px;
}

#cancelButton {
    color: red;
    font-size: small;
    margin-top: 10px;
}

input {
    width: 25em;
    display: block;
    border: 1px solid silver;
    border-radius: 3px;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

input:focus-visible,
input:active,
input:focus{
    border: 1px solid blue;
}


svg {
    float: right;
}

#add-domain{
    text-align: center;
    border-top: 1px solid silver;
}

